html { 
    scroll-behavior: smooth;
}

    /* Saw this part on the internet; p.s it's time-saving/valuable for future projects */
:root {
    --background-color: #dbcea8;
    --text-color-common: #ffffff;
    --text-color-highlight: #c02525;
    --bg-brand-color: #f0f0f0;
    --temporary-color: #395674;
    --highlight-color: #0d6efd;
}

body {
    background-color: var(--background-color);
    color: var(--text-color-common);
}

.text-secondary {
    color: var(--temporary-color) !important; 
}

.text-highlight {
    color: var(--text-color-highlight);
}

.line-color {
    background-color: var(--text-color-highlight);
}

.bg-color {
    background-color: var(--bg-brand-color) !important;
}

.btn-color {
    border-color: var(--text-color-highlight);
    background-color: var(--text-color-highlight);
    color: var(--text-color-common);
}

.text-link {
color: var(--highlight-color);
}


/* For the overlay on both header and footer; p.s I'm not sure if this is the best way to do it, but it works so who cares >_< */
header {
    position: relative;
    background-image: url(banner-bg-header.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
}

header > * {
    position: relative;
    z-index: 3;
}

footer {
    position: relative;
    background-image: url(banner-bg-footer.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
}

footer > * {
    position: relative;
    z-index: 3;
}